# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Next.js
/.next/
/out/

# Debug / env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env*.local

# IDE
.idea
.vscode
*.swp
.DS_Store

# TypeScript
*.tsbuildinfo
